/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/05/2024, 09:31:42
    Author     : paulo
*/


.img-card {
    vertical-align: middle;
    height: 200px;
    border-style: none;
};

.product-img .img-card-cart {
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-style: none;
};

.section-listar{
    width: 400px;
    height: 200px;
    border: 1px solid black;
}
