main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 20px;
}

.imagem-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 700px;
    
}

#stars{
    color: rgba(238, 203, 5, 0.911);
}
#duvidas{
    color: black;
    font-size: 10px;
}
.descricao-right{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 700px;

    
}
.nome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height:30%;



}
.valor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height:30%;

}
.comprar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height:40%;

}

.botao{
    z-index: 99;
}


.nome p{
    font-size: 20px;
 
}

.valor p{
    font-size: 20px;
 
}

.listaTamanho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50%;
}
.list-group{
    margin-right: 50px;
}

#btn{
    margin-right: 50px;
}