* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

main .container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vw; 
    height: 100%;
    background-color: #614031;
}

main .container-left .sair {
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: black;
}

main .container-left .sair p {
    font-size: 50px;
    padding: 20px;
}

main .container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
    background-color: white;
}

.form-outline {
    position: relative;
    width: 100%;
}

.btn-login {
    width: 600px;
    height: 50px;
    background-color: #614031;
    color: white;
    border-radius: 40px;
}

main .container-right .inputs h2 {
    font-size: 60px;
}

@media (max-width: 1250px) {
    main .inputs {
        width: 380px;
    }

    #email {
        width: 100%;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main .container-left {
        width: 100vw;
        height: 50vh;
    }

    main .container-right {
        width: 100vw;
        height: 50vh;
    }

    main .inputs {
        width: 100%;
        padding: 20px;
    }

    #email {
        width: 100%;
    }
}

main .inputs input {
    width: 100%;
}
